<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <img src="https://media.tenor.com/hwq6tcAlU90AAAAM/tough-crowd-comedian.gif" alt="This page does not exist">
    </div>
</main>

<%- include('../partials/footer') %>